*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Top nav */
.topnav {
    position: relative;
    height: 50px;
    width: 100%;
    background: #f1faee;
    z-index: 1;
    border-bottom: 2px #6c757d solid;
}

.signout {
    font-size: 20px;
    line-height: 50px;
    margin-right: 10px;
    z-index: 11;
}


/* End of top nav */

/* Left nav bar */
.leftnav {
    z-index: 5;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #0077b6;
    margin-left: 0;
}

.checkbtn {
    cursor: pointer;
    display: none;
}

.fa-bars{
    text-align: center;
    padding: 2px 4px;
    background: #0077b6;
    font-size: 30px;
    color: white;
    transition: .5s;
}

.fa-bars:hover {
    color: black;
    transition: .5s;
}

.menuleft li {
    list-style-type: none;
    padding-left: 50px;
    text-align: left;
    line-height: 40px;
    transition: .5s;
}

.menuleft li:hover {
    background: white;
    cursor: pointer;
}

.menuleft li:hover a{
    color: black;
}

.menuleft li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.menuleft li a i{
    margin-right: 10px;
}

.active {
    background: #faa307;
}

/* Container */

.containerz {
    margin-left: 250px;
    position: relative;
    width: 83%;
    height: 100vh;
    background: #f8f9fa;
}

.content{
    
}

#search {
    border: 2px #00b4d8 solid;
    width: 400px;
    border-radius: 50px 30px;
    outline: none;
    padding-left: 10px;
    box-shadow: #90e0ef 4px 0px 10px;
}

.btnadd {  
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px #0077b6 solid;
    padding: 5px 25px;
    border-radius: 10px;
    outline: none;
    background: #0077b6;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    transition: .5s;
}

.btnadd:hover {
    border: 2px #f48c06 solid;
    background: #f48c06;
    transition: .5s;
}

td > a > i {
    transition: .2s;
    font-size: 18px;
    padding-left: 10px;
}

td > a > i:hover {
    color: white;
}

td > a:nth-child(1){
    color: #ef233c;
}

/* End of container */
/* Edit a topic */

.categoriesList ul {
    list-style-type: none;
}

.categoriesList ul li {
    display: inline-block;
}

/* End of edit */

/* Add card */

.add-card {
    width:20em;
    height: 15em;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    border: 1px solid #8d99ae;
}

.edit-card {
    width:20em;
    height: 15em;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    border: 1px solid #8d99ae;
}

.hide {
    display: none;
}

/* End of add card */