<section class="top">
    <nav class="top-nav">
        <ul>
            <li><a href="#">Thông tin</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Hỗ trợ</a></li>
            <li><a href="/admin"><i class="fas fa-lock"></i></a></li>
        </ul>
    </nav>
    <div class="banner">
        <div class="logo"></div>
    </div>
</section>
<header>
    
    <div class="main-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="mini-menu">
                <a href="#">Thể loại<i class="fa fa-chevron-down pl-2" aria-hidden="true"></i></a>
                <ul>
                    <% for(let i=0;i<categories.length;i++) {%> 
                        <li><%= categories[i].TenDanhMuc %></li>
                    <% } %> 
                    
                </ul>
            </li>
            <li><a href="#">Fun Fact</a></li>
            <li><a href="#">Cơ sở dữ liệu</a></li>
            <li class="search"><input class="inp" type="text"><a href=""><i class="fas fa-search"></i></a></li>
        </ul>
    </div>
</header>