<nav class="leftnav">
    <div><h5 class="text-center font-weight-bold pt-4 pb-2">Admin dashboard</h5></div>
    <hr style="height: 2px;background: #a8dadc; width: 90%; margin-left: 5%;">
    <ul class="menuleft mt-5">
        <li><a href="/admin"><i class="fa fa-home"></i>Trang chủ</a></li>
        <li><a href="/admin/topics"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Bài viết</a></li>
        <li><a href="/admin/categories"><i class="fa fa-list" aria-hidden="true"></i>Danh mục</a></li>
        <li><a href="/admin/comments"><i class="fa fa-comment" aria-hidden="true"></i>Bình luận</a></li>
        <!-- <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i>Thông tin</a></li>
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Cài đặt</a></li> -->
        <li><a href="/"><i class="fas fa-arrow-left"></i>Trang chủ</a></li>
    </ul>
</nav>

<script>
    $(document).ready(function () {
      $("ul.menuleft li").click(function (){
        $("ul.menuleft li").removeClass('active');
        $(this).addClass("active");
      });
    });
</script>